**/IO/data
**junk
__pycache__/
**/__pycache__/
.DS_Store
Thumbs.db
download_status.txt
/output/*.txt
/output/logs/
*.pyc
winter_tests.py
test_filtering.py
test.py
test.txt
tests/*.png
placefile_tests.py
placefile_requests/
.vscode/